/*
 * MYZR Technology Co.,Ltd
 * http://www.myzr.com.cn
 * Tang Bin <tangb@myzr.com.cn>
 */

&ecspi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_eim_spi1>, <&pinctrl_eim_spi1_io>;
	fsl,spi-num-chipselects = <2>;
	cs-gpios = <&gpio2 30 0>, <&gpio3 19 0>;
	status = "okay";

	flash: m25p80@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "sst,sst25vf016b";
		reg = <0>;
		spi-max-frequency = <20000000>;
	};
	
	spidev: spi@1 {
		compatible = "spidev";
		reg = <1>;
		spi-max-frequency = <54000000>;
	};
};

&i2c2 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_key_i2c2>, <&pinctrl_gpio_pmic_io>, <&pinctrl_gpio_rtc_io>;
	status = "okay";
	
	/* PMIC */
	pmic: ricoh568@36{
		compatible = "ricoh,ricoh568";
		reg = <0x36>;
		pmic_irq_gpio = <&gpio7 13 0>;
		interrupt-parent = <&gpio7>;
		interrupts = <13 0>;
		status = "okay";
	};

	rtc: isl1208@6f {
		compatible = "isil,isl1208";
		reg = <0x6f>;
	};
};

&usdhc4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sd4_sd4>;
	bus-width = <8>;
	non-removable;
	no-1-8-v;
	keep-power-in-suspend;
	status = "okay";
};

&iomuxc {
	myimx6cb336 {
		pinctrl_eim_spi1: eim_spi1grp {
			fsl,pins = <
				MX6QDL_PAD_EIM_D17__ECSPI1_MISO		0x100b1
				MX6QDL_PAD_EIM_D18__ECSPI1_MOSI		0x100b1
				MX6QDL_PAD_EIM_D16__ECSPI1_SCLK		0x100b1
			>;
		};
		pinctrl_eim_spi1_io: eim_spi1_iogrp {
			fsl,pins = <
				/* SPI1_CS1 */
				MX6QDL_PAD_EIM_D19__GPIO3_IO19		0x80000000
				/* SPI1_CS0 */
				MX6QDL_PAD_EIM_EB2__GPIO2_IO30		0x80000000
			>;
		};
		
		pinctrl_sd4_sd4: sd4_sd4grp {
			fsl,pins = <
				MX6QDL_PAD_SD4_CLK__SD4_CLK			0x10059
				MX6QDL_PAD_SD4_CMD__SD4_CMD			0x17059
				MX6QDL_PAD_SD4_DAT0__SD4_DATA0		0x17059
				MX6QDL_PAD_SD4_DAT1__SD4_DATA1		0x17059
				MX6QDL_PAD_SD4_DAT2__SD4_DATA2		0x17059
				MX6QDL_PAD_SD4_DAT3__SD4_DATA3		0x17059
				MX6QDL_PAD_SD4_DAT4__SD4_DATA4		0x17059
				MX6QDL_PAD_SD4_DAT5__SD4_DATA5		0x17059
				MX6QDL_PAD_SD4_DAT6__SD4_DATA6		0x17059
				MX6QDL_PAD_SD4_DAT7__SD4_DATA7		0x17059
			>;
		};
		
		pinctrl_key_i2c2: key_i2c2grp {
			fsl,pins = <
				MX6QDL_PAD_KEY_COL3__I2C2_SCL		0x4001b8b1
				MX6QDL_PAD_KEY_ROW3__I2C2_SDA		0x4001b8b1
			>;
		};
		
		pinctrl_gpio_pmic_io: gpio_pmic_iogrp {
			fsl,pins = <
				/* RT568,GPIO2: PSHOLD_PMU */
				MX6QDL_PAD_GPIO_17__GPIO7_IO12		0x80000000
				/* RT568,INTB: INT_PMU */
				MX6QDL_PAD_GPIO_18__GPIO7_IO13		0x80000000
			>;
		};
		
		pinctrl_gpio_rtc_io: gpio_rtc_iogrp {
			fsl,pins = <
				/* ISL1208: nRQ/FOUT */
				MX6QDL_PAD_GPIO_16__GPIO7_IO11		0x80000000
			>;
		};
	};
};
